.first__image-wrapper {
    width: calc(100% - 520px);
    /* margin-right: 30px; */
    display: inline-block;
}

.first__image {
    display: block;
    width: 100%;
    height: auto;
}

.first__wrapper {
    position: relative;
    margin-bottom: 30px;
}

.first__wrapper>:not(:last-child) {
    margin-right: 30px;
}

.first__text-wrapper {
    max-width: 480px;
    display: inline-block;
    vertical-align: top;
}

.first__wrapper:last-child {
    margin-bottom: 0;
}
