.similar__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.similar__wrapper {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 25px 45px;
}

.similar__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000;
    margin: 0 0 20px 0;
}

.similar__list {
    padding-left: 20px;
    margin: 0;
}

.similar__list-result{
    list-style-type: none;
    margin: 0 0 30px 0;
    padding-left: 0;
}

.list__item {
    color: #02535F;
    font-size: 20px;
    margin-bottom: 10px;
}

.list__item:last-child {
    margin-bottom: 0;
}

.navigation__link {
    color: #02535F;
    line-height: 1.2;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;

}

.navigation__link::after {
    content: '';
    border-bottom: 2px solid black;
    display: block;
}

.list__item-similar {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-bottom: 10px;
}

.list__item-similar::before {
    content: '\2014';
    margin-right: 10px;

}

.list__item-similar:last-child {
    margin-bottom: 0;
}