@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Black"), local("Roboto-Black"), url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.content-article {
    padding-top: 60px;
    padding-bottom: 50px;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section:first-child {
    padding-top: 0;
}

.section:last-child {
    padding-bottom: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-desc {
    margin-bottom: 30px;
}

.desc__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    color: #000;
    letter-spacing: 0;
    margin: 0 0 30px 0;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin: 0 0 30px 0;
}

.text:last-child {
    margin-bottom: 0;
}

.desc__text:last-child {
    margin-bottom: 0;
}

.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #000;
    margin: 0 0 30px 0;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}
